{
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.mjs", "*.mts", "*.cjs", "*.ts", "*.tsx"],
      "options": {
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
